APP_NAME=landing-page-service
ENV=local
DATADOG_API_KEY= #see paramater store /landing-page-service/staging/DATADOG_API_KEY for value
DB_SECRET_NAME= #see paramater store /landing-page-service/staging/DB_SECRET_NAME for value
SECURITY_GROUP_IDS=123
SUBNET_IDS=123

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_V2_HOST=localhost
REDIS_V2_PORT=6379

TYPEORM_HOST=localhost
TYPEORM_PORT=3307
TYPEORM_DATABASE=brandbot
TYPEORM_USERNAME=user
TYPEORM_PASSWORD=password

CONFIGCAT_SDK_KEY=local
CONFIGCAT_OVERRIDES='{
  "feature1": true,
  "feature2": false
}'

CORALOGIX_API_HOST=ingress.eu2.coralogix.com
CORALOGIX_API_KEY=GET-FROM-AWS-PARAM-STORE
CORALOGIX_API_PATH=logs/v1/singles
CORALOGIX_APP_NAME=brandbot
